<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <!--Fonts from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">

    <style>
        .navbar-brand {
            display: flex;
            align-items: center;
            font-family: 'Single Day', cursive;
        }

        /* Icon margin */
        .navbar-brand img {
            margin-right: 10px;
        }

        /* Brand font size */
        .navbar-brand span {
            font-size: 2rem;
        }

        /* Add rounded corners to the image */
        .rounded-image {
            border-radius: 15px;
            overflow: hidden;
        }

        /* Style for the text on the image */
        .image-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 3vw;
            font-family: 'Great Vibes', cursive;
            text-align: center;
        }

        /* Menu Section Style */
        .menu_section {
            padding: 3em 0;
            position: relative;
            background-color: rgb(24, 24, 24);
        }

        .catagory-text {
            font-size: 40px;
            color: white;
            font-weight: bold;
        }

        .menu-text {
            color: #808080;
            font-size: 25px;
        }

        .product-name {
            color: #BFBFBF;
            font-size: 20px;
            cursor: pointer;
        }

        .price {
            text-align: right;
            color: #C49B63;
        }
    </style>
</head>

<body>
    <!-- Navigation Bar Section -->
    <nav class="navbar navbar-expand-lg" style="background-color: #985e49;">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/svg/coffee-svgrepo-com.svg" alt="Logo" width="50" height="40"
                    class="d-inline-block align-text-top">
                <span>Jazz Cafe</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                    <a class="nav-link" href="{{url_for('menu')}}">Menu</a>
                    <a class="nav-link" href="{{url_for('reserve')}}">Reserve</a>
                </div>
            </div>

        </div>
    </nav>

    <!-- Head Image Section-->
    <div class="rounded-image">
        <img src="/static/img/Cafe_1.jpg" class="img-fluid" alt="menu">
        <div class="image-text">Our Menu</div>
    </div>

    <!-- Menu Main Section -->
    <div class="menu_section">
        <div class="container">
            <div class="row">

                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 catagory-text">Espresso Drink</h3>
                    <p class="menu-text">
                        Our Best Italian Style Espresso
                    </p>

                    <!-- Product 1 : Espresso -->
                    <div class="product-name" data-bs-toggle="modal" data-bs-target="#espressoModal">
                        Espresso
                        <span class="price">........................ $5</span>
                    </div>
                    <!-- Espresso Modal -->
                    <div class="modal fade" id="espressoModal" tabindex="-1" aria-labelledby="espressoModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="espressoModalLabel">Espresso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="/static/img/espresso.jpg" alt="Espresso" class="img-fluid">
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Ingredients</h6>
                                            <ul>
                                                <li>Arabica Coffee Beans</li>
                                            </ul>
                                            <h6>Description</h6>
                                            <ul>
                                                <li>jsdbfshjkdbf</li>
                                            </ul>
                                            <h6>Allergens</h6>
                                            <ul>
                                                <li>None</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Espresso Modal -->

                    <!-- Product 2: Latte -->
                    <div class="product-name" data-bs-toggle="modal" data-bs-target="#latteModal">
                        Latte
                        <span class="price">........................ $7</span>
                    </div>
                    <!-- Latte Modal -->
                    <div class="modal fade" id="latteModal" tabindex="-1" aria-labelledby="latteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="latteModalLabel">Latte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="/static/img/latte.jpg" alt="Latte" class="img-fluid">
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Ingredients</h6>
                                            <ul>
                                                <li>Arabica Coffee Beans</li>
                                                <li>British Whole Milk</li>
                                            </ul>
                                            <h6>Description</h6>
                                            <ul>
                                                <li>jsdbfshjkdbf</li>
                                            </ul>
                                            <h6>Allergens</h6>
                                            <ul>
                                                <li>Milk</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Latte Modal -->

                </div>

                <div class="col-md-6">
                    <h3 class="mb-5 catagory-text">Tea</h3>
                    <p class="menu-text">
                        Our Selected Tea Leaves from China and India
                    </p>
                    <!-- Product 1 : Ancient Tree Black Tea -->
                    <div class="product-name" data-bs-toggle="modal" data-bs-target="#ancientModal">
                        Ancient Tree Black Tea
                        <span class="price">........................ $10</span>
                    </div>

                    <!-- Ancient Tree Black Tea Modal -->
                    <div class="modal fade" id="ancientModal" tabindex="-1" aria-labelledby="ancientModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ancientModalLabel">Green Tea</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="/static/img/ancient.jpg" alt="Ancient" class="img-fluid">
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Original Source of Production</h6>
                                            <ul>
                                                <li>Fujian, China</li>
                                            </ul>
                                            <h6>Description</h6>
                                            <ul>
                                                <li>jsdbfshjkdbfsdas</li>
                                            </ul>
                                            <h6>Allergens</h6>
                                            <ul>
                                                <li>None</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Ancient Tree Black Tea Modal -->

                    <!-- Product 2: Green Tea -->
                    <div class="product-name" data-bs-toggle="modal" data-bs-target="#greenModal">
                        Latte
                        <span class="price">........................ $7</span>
                    </div>
                    <!-- Green Tea Modal -->
                    <div class="modal fade" id="greenModal" tabindex="-1" aria-labelledby="greenModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="greenModalLabel">Green Tea</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="/static/img/green.jpg" alt="Green" class="img-fluid">
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Original Source of Production</h6>
                                            <ul>
                                                <li>Darjeeling, India</li>
                                            </ul>
                                            <h6>Description</h6>
                                            <ul>
                                                <li>jsdbfshjkdbf</li>
                                            </ul>
                                            <h6>Allergens</h6>
                                            <ul>
                                                <li>None</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Green Tea Modal -->



                </div>
            </div>
        </div>
    </div>



    <!-- Footer Section -->
    <footer class="text-white py-4" style="background-color: #985e49;">
        <div class="container">
            <div class="row">
                <!-- Contact Section -->
                <div class="col-md-6">
                    <h5>Contact Us</h5>
                    <p>
                        <img src="/static/svg/address-svgrepo-com.svg" alt="Address" width="20" height="20"
                            class="me-2">
                        University of Warwick, Coventry, CV4 7AL
                    </p>
                    <p>
                        <img src="/static/svg/email-1-svgrepo-com.svg" alt="Email" width="20" height="20" class="me-2">
                        info@jazzcafe.com
                    </p>
                    <p>
                        <img src="/static/svg/phone-svgrepo-com.svg" alt="Phone" width="20" height="20" class="me-2">
                        +1234567890
                    </p>
                </div>

                <!-- Social Media Section -->
                <div class="col-md-6 text-md-end mt-3 mt-md-0">
                    <h5>Follow Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/school/uniofwarwick/" target="_blank">
                                <img src="/static/svg/linkedin-svgrepo-com.svg" alt="Linkedin" width="30" height="30">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/uniofwarwick/" target="_blank">
                                <img src="/static/svg/instagram-svgrepo-com.svg" alt="Instagram" width="30" height="30">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/warwickuniversity" target="_blank">
                                <img src="/static/svg/facebook-svgrepo-com.svg" alt="Facebook" width="30" height="30">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>