<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background-image: url('/static/img/coffee-jazz.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /*justify-content: center;*/
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        font-family: 'Single Day', cursive;
    }

    /* Icon margin */
    .navbar-brand img {
        margin-right: 10px;
    }

    /* Brand font size */
    .navbar-brand span {
        font-size: 2rem;

    }

    .card {
        backdrop-filter: blur(10px);
        /* blur */
        background: rgba(255, 255, 255, 0.8);
        /* transparency */
        margin-top: 2rem;
        font-family: 'Single Day', cursive;
    }

    /* Make sure that the footer is always on bottom */
    footer {
        margin-top: auto;
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #985e49;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/svg/coffee-svgrepo-com.svg" alt="Logo" width="50" height="40"
                    class="d-inline-block align-text-top">
                <span>Jazz Cafe</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                    <a class="nav-link" href="{{url_for('menu')}}">Menu</a>
                    <a class="nav-link" href="{{url_for('reserve')}}">Reserve</a>
                </div>
            </div>

        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Register</h2>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-info">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}

                        <form method="post" action="{{ url_for('register') }}">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" name="username" required>
                            </div>

                            <div class="form-group">
                                <label for="student_id">Student ID:</label>
                                <input type="text" class="form-control" name="student_id" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
                            <p class="mt-2 text-center">Already have an account? <a href="{{ url_for('login') }}">Login
                                    here</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="text-white py-4" style="background-color: #985e49;">
        <div class="container">
            <div class="row">
                <!-- Contact Section -->
                <div class="col-md-6">
                    <h5>Contact Us</h5>
                    <p>
                        <img src="/static/svg/address-svgrepo-com.svg" alt="Address" width="20" height="20"
                            class="me-2">
                        University of Warwick, Coventry, CV4 7AL
                    </p>
                    <p>
                        <img src="/static/svg/email-1-svgrepo-com.svg" alt="Email" width="20" height="20" class="me-2">
                        info@jazzcafe.com
                    </p>
                    <p>
                        <img src="/static/svg/phone-svgrepo-com.svg" alt="Phone" width="20" height="20" class="me-2">
                        +1234567890
                    </p>
                </div>

                <!-- Social Media Section -->
                <div class="col-md-6 text-md-end mt-3 mt-md-0">
                    <h5>Follow Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/school/uniofwarwick/" target="_blank">
                                <img src="/static/svg/linkedin-svgrepo-com.svg" alt="Linkedin" width="30" height="30">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/uniofwarwick/" target="_blank">
                                <img src="/static/svg/instagram-svgrepo-com.svg" alt="Instagram" width="30" height="30">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/warwickuniversity" target="_blank">
                                <img src="/static/svg/facebook-svgrepo-com.svg" alt="Facebook" width="30" height="30">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>